body{
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

h3{
    width: 110px;
    height: 30px;
    margin-top: 40px;
    margin-left: 80px;
    color: #000000;
    font-family: 'Lobster',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.point{
    color: chocolate;
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

header{
    width: 1279.961669921875px;
    height: 30px;
    position: relative;
    top: 40px;
    left: 80px;
}

nav{
    position: absolute;
    width: 505px;
    height: 19px;
    top: -88px;
    left: 387px;
}

.home{
    position: absolute;
    width: 45px;
    height: 19px;
    left: 0px;
    top: 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.recipes{
    position: absolute;
    width: 59px;
    height: 19px;
    left: 105px;
    top: 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.blog{
    position: absolute;
    width: 34px;
    height: 19px;
    left: 224px;
    top: 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.contact{
    position: absolute;
    width: 60px;
    height: 19px;
    left: 318px;
    top: 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.about_us{
    position: absolute;
    width: 67px;
    height: 19px;
    left: 438px;
    top: 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
} 

hr{
    width: 1516px;
    height: 0px;
    opacity: 0.5;
    top: 110px;
    border-width: 2px;
    margin-top: -10px;
    color:#000000;
}

a{
    text-decoration: none;
}
